body {
  box-sizing: border-box;
}

.life {
  height: auto;
  width: 1000px;
  background-color: black;
  text-align: center;
  margin: 100px auto auto auto;
}

.test {
  height: 100px;
  width: 100px;
}

#man {
  color: blue;
}

#she {
  color: hotpink;
}